In [1]:
import pandas as pd

In [2]:
#create a data dictionary
raw_data = {"name":['niu', 'mama', 'liuliu', 'junjun'],
            "evolution":['zhang', 'ma', 'wang', 'li'],
            "type":['grass', 'fire', 'water', 'bug'],
            "hp":[45, 39, 23,56],
            "pokedex":['yes', 'no', 'yes', 'no']
           }

In [3]:
#assign it to a variable called
pokemon = pd.DataFrame(raw_data)
pokemon.head()

     name evolution   type  hp pokedex
0     niu     zhang  grass  45     yes
1    mama        ma   fire  39      no
2  liuliu      wang  water  23     yes
3  junjun        li    bug  56      no

In [5]:
#Ops... it seems the DataFrame columns are in alphabetical order. Place the order of the columns 
#as name, type, hp,ecolution, pokedex
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

     name   type  hp evolution pokedex
0     niu  grass  45     zhang     yes
1    mama   fire  39        ma      no
2  liuliu  water  23      wang     yes
3  junjun    bug  56        li      no

In [6]:
# add another column called place, and insert what you have in mind.
pokemon['gender'] = ['male', 'female', 'male', 'female']
pokemon

/Users/liwei/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     name   type  hp evolution pokedex  gender
0     niu  grass  45     zhang     yes    male
1    mama   fire  39        ma      no  female
2  liuliu  water  23      wang     yes    male
3  junjun    bug  56        li      no  female

In [7]:
#present hte type of each column
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
gender       object
dtype: object