In [1]:
import pandas as pd
import numpy as np

In [5]:
frame = pd.DataFrame(np.random.randn(4,3), columns= list('abc'), index=['niu', 'benben', 'kaka', 'zhuzhu'])
frame

               a         b         c
niu    -0.469809  0.697215  1.499645
benben -0.801549 -1.900475 -1.547029
kaka   -2.020208 -1.012112  0.100635
zhuzhu -0.508664  0.937423 -1.884826

- **apply()**

- 当想让方程作用在一维的向量上时，可以使用apply来完成，如下所示

In [6]:
f = lambda x: x.max() - x.min()

In [7]:
frame.apply(f)

a    1.550399
b    2.837898
c    3.384471
dtype: float64

但是因为大多数的列表统计方程 (比如 sum 和 mean)是DataFrame的函数，所以apply很多时候不是必须的

- **applymap()**

如果想让方程作用于DataFrame中的每一个元素，可以使用applymap().用法如下所示

In [15]:
format = lambda x: '%.2f' % x

In [16]:
frame.applymap(format)

            a      b      c
niu     -0.47   0.70   1.50
benben  -0.80  -1.90  -1.55
kaka    -2.02  -1.01   0.10
zhuzhu  -0.51   0.94  -1.88

- **map()**

map()只要是作用将函数作用于一个Series的每一个元素，用法如下所示

In [18]:
format1 = lambda x: '%.1f'%x

In [19]:
frame['c'].map(format1)

niu        1.5
benben    -1.5
kaka       0.1
zhuzhu    -1.9
Name: c, dtype: object

**总的来说就是apply()是一种让函数作用于列或者行操作，applymap()是一种让函数作用于DataFrame每一个元素的操作，而map是一种让函数作用于Series每一个元素的操作**

**applymap()** method only works on a pandas dataframe where function is applied on every element individually. **apply()** method can be applied both to series and dataframes where function can be applied both series and individual elements based on the type of function provided.
> https://www.geeksforgeeks.org/difference-between-map-applymap-and-apply-methods-in-pandas/